### Script to load monthly netcdf flight data and combine into single pandas dataframe

In [1]:
import xarray as xr
import pandas as pd
import numpy as np
from glob import glob
import os
os.chdir('/p/home/jusers/stephenson1/shared/ESDP-FinalProject')
os.getcwd()

'/p/home/jusers/stephenson1/shared/ESDP-FinalProject'

In [ ]:
## loop through folders and files in folder and add to list
folders = sorted(glob("/p/scratch/deepacf/external_data/IAGOS/*/", recursive = True))

data_list = []
for i in range(0, len(folders)):
#for i in range(0, 2):
    file_list = sorted(glob(folders[i] + "/*.nc"))
    for j in range(0, len(file_list)):
        nc_file = xr.open_dataset(file_list[j])
        df = nc_file.to_dataframe()
        data_list.append(df)
        #print(file_list[j])
    #print(folders[i])

In [3]:
## concatenate list into dataframe
data_all = pd.concat(data_list)

In [11]:
#data_all.head()
#data_all.columns
## select columns of interest
data_all_select = data_all.loc[:, ['TROP1_PRESS', 'lon', 'lat', 'air_temp', 'air_temp_flag',
                                  'RHI', 'RHI_flag', 'RHL', 'RHL_flag']]

In [21]:
data_all_select.head()

,TROP1_PRESS,lon,lat,air_temp,air_temp_flag,RHI,RHI_flag,RHL,RHL_flag
time,,,,,,,,,
1996-01-01 02:53:47,332.184492,140.37,35.75,283.470001,10.0,NaN,17.0,0.244,10.0
1996-01-01 02:53:51,332.142461,140.37,35.75,283.200012,10.0,NaN,17.0,0.244,10.0
1996-01-01 02:53:55,332.080781,140.37,35.75,282.950012,10.0,NaN,17.0,0.238,10.0
1996-01-01 02:53:59,NaN,140.37,35.75,283.420013,10.0,NaN,17.0,0.241,10.0
1996-01-01 02:54:03,331.979727,140.37,35.75,283.200012,10.0,NaN,17.0,0.243,10.0

In [20]:
## save dataframe as pickle for analysis
data_all_select.to_pickle("/p/project1/deepacf/stephenson1/ESDP-FinalProject/iagos_combined.pkl")

In [ ]:
#data_all_select.to_csv("/p/project1/deepacf/stephenson1/ESDP-FinalProject/iagos_combined.csv")