In [5]:
import xarray as xr
import pandas as pd

In [8]:
iagos_jan_1996 = xr.open_dataset('/p/scratch/deepacf/external_data/IAGOS/HY1996/iagos_1996011512_ERA5.nc')
df = iagos_jan_1996.to_dataframe()

df.head()

,TROP2_Z,TROP2_PRESS,TROP1_Z,TROP1_PRESS,lon,lat,O3,baro_alt,air_press,air_temp_AC,...,MACH_NO_calc,MACH_NO_calc_flag,H2O_gas,H2O_gas_flag,RHI,RHI_flag,H2O_gas_err,CO,flight_Nr_era5,flight_Nr_fzj
time,,,,,,,,,,,,,,,,,,,,,
1996-01-01 02:53:47,15.700357,101.666963,8.471718,332.184492,140.37,35.75,21.0,101.199997,1001.200012,283.399994,...,0.1827,10,3067.0,10,NaN,17,636.787415,NaN,1996010102534775,19966010115050050
1996-01-01 02:53:51,15.699969,101.674189,8.472580,332.142461,140.37,35.75,39.0,98.500000,1001.299988,283.399994,...,0.2056,10,3012.0,10,NaN,17,625.402893,NaN,1996010102534775,19966010115050050
1996-01-01 02:53:55,15.699505,101.682881,8.473846,332.080781,140.37,35.75,34.0,97.500000,1001.599976,283.399994,...,0.2166,10,2888.0,10,NaN,17,614.415100,NaN,1996010102534775,19966010115050050
1996-01-01 02:53:59,NaN,NaN,NaN,NaN,140.37,35.75,34.0,97.500000,1001.599976,283.149994,...,0.2224,10,3018.0,10,NaN,17,634.219421,NaN,1996010102534775,19966010115050050
1996-01-01 02:54:03,15.698847,101.695176,8.475922,331.979727,140.37,35.75,41.0,97.199997,1001.599976,282.899994,...,0.2379,10,2999.0,10,NaN,17,625.199646,NaN,1996010102534775,19966010115050050

In [11]:
len(df.index)

2070232

In [49]:
from glob import glob
folders = sorted(glob("/p/scratch/deepacf/external_data/IAGOS/*/", recursive = True))

data_list = []
#for i in range(0, len(folders)):
for i in range(0, 2):
    file_list = sorted(glob(folders[i] + "/*.nc"))
    for j in range(0, len(file_list)):
        nc_file = xr.open_dataset(file_list[j])
        df = nc_file.to_dataframe()
        data_list.append(df)
        print(file_list[j])

/p/scratch/deepacf/external_data/IAGOS/HY1996/iagos_1996011512_ERA5.nc
/p/scratch/deepacf/external_data/IAGOS/HY1996/iagos_1996021512_ERA5.nc
/p/scratch/deepacf/external_data/IAGOS/HY1996/iagos_1996031512_ERA5.nc
/p/scratch/deepacf/external_data/IAGOS/HY1996/iagos_1996041512_ERA5.nc
/p/scratch/deepacf/external_data/IAGOS/HY1996/iagos_1996051512_ERA5.nc
/p/scratch/deepacf/external_data/IAGOS/HY1996/iagos_1996061512_ERA5.nc
/p/scratch/deepacf/external_data/IAGOS/HY1996/iagos_1996071512_ERA5.nc
/p/scratch/deepacf/external_data/IAGOS/HY1996/iagos_1996081512_ERA5.nc
/p/scratch/deepacf/external_data/IAGOS/HY1996/iagos_1996091512_ERA5.nc
/p/scratch/deepacf/external_data/IAGOS/HY1996/iagos_1996101512_ERA5.nc
/p/scratch/deepacf/external_data/IAGOS/HY1996/iagos_1996111512_ERA5.nc
/p/scratch/deepacf/external_data/IAGOS/HY1996/iagos_1996121512_ERA5.nc
/p/scratch/deepacf/external_data/IAGOS/HY1997/iagos_1997011512_ERA5.nc
/p/scratch/deepacf/external_data/IAGOS/HY1997/iagos_1997021512_ERA5.nc
/p/scratch/deepacf/external_data/IAGOS/HY1997/iagos_1997031512_ERA5.nc
/p/scratch/deepacf/external_data/IAGOS/HY1997/iagos_1997041512_ERA5.nc
/p/scratch/deepacf/external_data/IAGOS/HY1997/iagos_1997051512_ERA5.nc
/p/scratch/deepacf/external_data/IAGOS/HY1997/iagos_1997061512_ERA5.nc
/p/scratch/deepacf/external_data/IAGOS/HY1997/iagos_1997071512_ERA5.nc
/p/scratch/deepacf/external_data/IAGOS/HY1997/iagos_1997081512_ERA5.nc
/p/scratch/deepacf/external_data/IAGOS/HY1997/iagos_1997091512_ERA5.nc
/p/scratch/deepacf/external_data/IAGOS/HY1997/iagos_1997101512_ERA5.nc
/p/scratch/deepacf/external_data/IAGOS/HY1997/iagos_1997111512_ERA5.nc
/p/scratch/deepacf/external_data/IAGOS/HY1997/iagos_1997121512_ERA5.nc

In [51]:
data_all = pd.concat(data_list)

In [52]:
data_all.tail()

,TROP2_Z,TROP2_PRESS,TROP1_Z,TROP1_PRESS,lon,lat,O3,baro_alt,air_press,air_temp_AC,...,MACH_NO_calc,MACH_NO_calc_flag,H2O_gas,H2O_gas_flag,RHI,RHI_flag,H2O_gas_err,CO,flight_Nr_era5,flight_Nr_fzj
time,,,,,,,,,,,,,,,,,,,,,
1998-01-01 07:58:45,NaN,NaN,NaN,NaN,-43.25,-22.82,0.0,4.9,1012.700012,300.899994,...,0.1021,10,31247.0,10,NaN,17,2748.449463,NaN,1997123120503535,19977123123030151
1998-01-01 07:58:49,NaN,NaN,NaN,NaN,-43.25,-22.82,1.0,7.3,1012.200012,300.899994,...,0.0000,10,31768.0,10,NaN,17,2468.886719,NaN,1997123120503535,19977123123030151
1998-01-01 07:58:53,NaN,NaN,NaN,NaN,-43.25,-22.82,0.0,7.6,1012.200012,300.899994,...,0.0000,10,31738.0,10,NaN,17,2444.456055,NaN,1997123120503535,19977123123030151
1998-01-01 07:58:57,NaN,NaN,NaN,NaN,-43.24,-22.82,0.0,8.2,1012.200012,300.899994,...,0.0000,10,31472.0,10,NaN,17,2417.134033,NaN,1997123120503535,19977123123030151
1998-01-01 07:59:01,NaN,NaN,NaN,NaN,-43.24,-22.82,1.0,9.8,1012.099976,301.149994,...,0.0000,10,31514.0,10,NaN,17,2417.914551,NaN,1997123120503535,19977123123030151

In [46]:
sorted(glob(folders[0] + "/*.nc"))

['/p/scratch/deepacf/external_data/IAGOS/HY1996/iagos_1996011512_ERA5.nc',
 '/p/scratch/deepacf/external_data/IAGOS/HY1996/iagos_1996021512_ERA5.nc',
 '/p/scratch/deepacf/external_data/IAGOS/HY1996/iagos_1996031512_ERA5.nc',
 '/p/scratch/deepacf/external_data/IAGOS/HY1996/iagos_1996041512_ERA5.nc',
 '/p/scratch/deepacf/external_data/IAGOS/HY1996/iagos_1996051512_ERA5.nc',
 '/p/scratch/deepacf/external_data/IAGOS/HY1996/iagos_1996061512_ERA5.nc',
 '/p/scratch/deepacf/external_data/IAGOS/HY1996/iagos_1996071512_ERA5.nc',
 '/p/scratch/deepacf/external_data/IAGOS/HY1996/iagos_1996081512_ERA5.nc',
 '/p/scratch/deepacf/external_data/IAGOS/HY1996/iagos_1996091512_ERA5.nc',
 '/p/scratch/deepacf/external_data/IAGOS/HY1996/iagos_1996101512_ERA5.nc',
 '/p/scratch/deepacf/external_data/IAGOS/HY1996/iagos_1996111512_ERA5.nc',
 '/p/scratch/deepacf/external_data/IAGOS/HY1996/iagos_1996121512_ERA5.nc']

In [50]:
len(folders)

27